/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.label-invalid {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #ff8100 !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, .95) !important;
  .label_toggle {
      display: none;
  }
}

.form-invalid {
  border-color: #ff6e00 !important;
  background: #f9f0f1 !important;
  border-radius: .25rem;
  &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 110, 0, .25) !important;
  }
}
